body, html {
  overscroll-behavior: none;
  overscroll-behavior-x: none;
  overscroll-behavior-y: none;
  margin: 0;
  height: 100vh;
  width: 100vw;
  background-color: #f0f0f0;
  overflow: hidden;
}

.Container {
  width: 90%;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

h1 {
  color: #333;
}

#gameCanvasContainer {
  position: relative;
}

#gameCanvas {
  border: 2px solid #333;
  z-index: 1;
}

#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent gray background */
  color: white;
  font-size: 48px;
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

#score {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 18px;
  color: #333;
  z-index: 3;
}

#highscore {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  color: #333;
  z-index: 3;
}

.pauseButton {
  position: absolute;
  bottom: 20px;
  right: 10px;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  opacity: 0.5;
  color: white;
  border: none;
  border-radius: 10px; /* Rounded edges */
  padding: 10px 20px; /* Adjust padding as needed */
  font-size: 18px;
  cursor: pointer;
  z-index: 99;
  z-index: 3;
}

.pauseButton:hover {
  background-color: rgba(0, 0, 0, 0.7); /* Darker background on hover */
}
